/**
 * Overlay theme for reveal.js, designed to be used with video overlay/underlay.
 *
 * By David Sanson
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,700;0,900;1,700;1,900&display=swap');
@font-face{
    font-family: "Fira Logic";
    src: url('https://cdn.jsdelivr.net/gh/gleachkr/FiraLogic/dist/FiraLogic-Regular.woff') format('woff');
}

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #ddd;
$headingColor: #ddd;

$mainFont: 'Montserrat', Helvetica, sans-serif;
$headingFont: 'Montserrat', Helvetica, sans-serif;
$codeFont: 'Fira Logic', monospace;

$mainFontSize: 42px;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 700;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 1.6em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// enable scrolling for vertical overflow
.reveal .slides > section, 
.reveal .slides > section > section {
  overflow-y: auto !important;
  height: 100%;
}

// slide templates

// title slide
.reveal .slides section#title-slide {
  display: grid !important;
  grid-template: auto auto 2em / 2em auto auto 2em;
  h1.title {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: end;
    text-align:center;
  }
  .authors {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    text-align:center;
  }
}

// two-column slide
.reveal .slides section.two-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// overlay .slides
// these are slides designed to use over the top of a video source

// // heading on bottom left; content top right
// .reveal .slides > section.overlay, 
// .reveal .slides > section > section.overlay {
//
//   h1,h2,h3 {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     margin-left:0;
//   }
//   
//   & > * {
//     margin-left:40vw;
//   }
// }

// heading on bottom left; content top right
.reveal .slides > section.overlay, 
.reveal .slides > section > section.overlay {
  
  display: grid !important;
  grid: auto 3em / auto auto;
  grid-template-areas:
    ". main"
    "head head";
  h1,h2,h3 {
    grid-area: head;
    margin-left: 0;
    position: static;
    top: unset;
    left: unset;
  }
  
  & > * {
    grid-area: main;
  }
}
// Video embed styles

video.live-video.full {
  top: 0;
  left: 0;
  width: 100%;
  max-width: unset;
  max-height: unset;
  z-index: 0;
}

video.live-video.left {
  top: 0;
  left: 0;
  width: 100%;
  max-width: unset;
  max-height: unset;
  z-index: 0;
  clip-path: polygon(25% 0, 75% 0,75% 100%,25% 100%);
  margin-left: -25%;
}

// video in the center, content surrounding it.
video.live-video.bradybunch {
  width: 33%;
  height: 33%;
  max-width: unset;
  max-heigh: unset;
  top: 33%;
  left: 33%;
  z-index: 0;
}

// some basic styling
// unordered lists as vertical flexbox without bullets

.reveal .slides section.keys ul {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: left;
  align-items: center;

  &> li {
    text-align: left;
    align-self:center;
    list-style: none;
  }
}

.reveal .slides {
  text-align: left;

  blockquote {
    text-align: left;
    background: rgba(255, 255, 255, 0.20);
    padding: 0em 1em;
    border-radius: 1em;
    font-style: normal;
  }
}

// vocab words
.vocab {
  font-family: 'Bangers', serif;
  font-size: 1.2em;
  color: antiquewhite;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
